.eventslink {
    background: rgba(17, 17, 17, 1);

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            font-family: Jua;
            font-size: 24px;
            font-weight: 400;
            line-height: 30px;
            color: rgba(255, 245, 246, 1);
            margin-right: 30px;

            span {
                color: red;
            }
        }

        .topbar {
            display: flex;
            justify-content: space-between;
            margin: 17px 0;

            .menu {
                display: flex;

                li {
                    a {
                        width: 97px;
                        height: 46px;
                        padding: 8px 16px 8px 16px;
                        gap: 10px;
                        color: rgba(255, 245, 246, 1);
                        font-family: Poppins;
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 30px;
                    }
                }
            }
        }

        .right {
            display: flex;
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                color: rgba(255, 245, 246, 1);
                font-family: Poppins;
                font-size: 20px;
                font-weight: 400;
                line-height: 30px;
                margin-right: 81px;
                object{
                    margin-left: 5px;
                }
            }
            object {
                margin-left: 24px;
            }

        }
    }
}