* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(255, 245, 246, 1);
}

.container {
    max-width: 1260px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}