* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(255, 245, 246);
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.eventslink {
  background: rgb(17, 17, 17);
}
.eventslink .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.eventslink .container p {
  font-family: Jua;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(255, 245, 246);
  margin-right: 30px;
}
.eventslink .container p span {
  color: red;
}
.eventslink .container .topbar {
  display: flex;
  justify-content: space-between;
  margin: 17px 0;
}
.eventslink .container .topbar .menu {
  display: flex;
}
.eventslink .container .topbar .menu li a {
  width: 97px;
  height: 46px;
  padding: 8px 16px 8px 16px;
  gap: 10px;
  color: rgb(255, 245, 246);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.eventslink .container .right {
  display: flex;
}
.eventslink .container .right a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 245, 246);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-right: 81px;
}
.eventslink .container .right a object {
  margin-left: 5px;
}
.eventslink .container .right object {
  margin-left: 24px;
}

footer {
  background: rgb(17, 17, 17);
  margin-top: 153px;
}
footer .container {
  max-width: 1220px;
  padding-top: 30px;
}
footer .container .menu {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  color: #FFF5F6;
}
footer .container .menu li a {
  color: rgb(171, 167, 167);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
}
footer .container .contact {
  display: flex;
  justify-content: space-between;
  margin-top: 59px;
  padding-bottom: 30px;
}
footer .container .contact p {
  font-size: 24px;
  font-weight: 400;
  font-family: Jua;
  color: rgb(255, 245, 246);
  line-height: 30px;
  text-transform: uppercase;
}
footer .container .contact .mail {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  text-transform: lowercase;
}
footer .container .contact .mail object {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

@keyframes hideText {
  0% {
    background-color: rgb(149, 11, 23);
  }
  50% {
    background-color: transparent;
  }
}
.enjoy {
  top: 80px;
}
.enjoy .background {
  background-image: url(https://s3-alpha-sig.figma.com/img/308e/e9a6/909ef2b0c724492151e712d65e7e6d94?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=MACHveKPUvD-UfKTrHuT92cywleE5M46CNYaK4acmQ84i27EJx2rbyxYyKKdZKeGKeeMB9MJFkDrUl-rjfcERBuWNCQptWy-0XkkV0kmFeqpNg5M-cEtlPST6Ei26zG4TqRCvvWcolzVPtPa6PRAdNoyooo7td-FQMVKSCPUzMenWNp~5FC7QDBvh2f6HyE4BMUjT0EcFTeoZbaco5YvgXb1xtvmcdR~MJ~qgupFCPcmeWzLVpbTjE8ziYyyCZNRsZFgsvLSRhFpRy~Puk-DzVM6Rr0q56PxrJZGECFDpCyli6dZQyOMc-gqBztPueSQSTM7ek3X9mjYUNZY207B8Q__);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -345px;
  filter: grayscale(100%);
  width: 100%;
  height: 691px;
}
.enjoy .container {
  position: absolute;
  width: 55%;
  height: 200px !important;
  top: 60%;
  left: 100px;
  z-index: 1;
}
.enjoy .container h4 {
  font-family: Poppins;
  font-size: 44px;
  font-weight: 600;
  line-height: 66px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
.enjoy .container p {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.38px;
  color: rgb(255, 245, 246);
}
.enjoy .container button {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  background: rgb(248, 71, 87);
  color: rgb(255, 255, 255);
  margin-top: 40px;
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 1px 4px 0px rgba(25, 33, 61, 0.08);
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  transition: color 1.2s, background 1.2s;
}
.enjoy .container button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0px;
  height: 100px;
  background: rgb(187, 7, 22);
  transition: transform 1.2s ease, width 1.2s ease, height 1.2s ease;
  border-radius: 50% 50% 0 0;
  transform: translate(-50%, 100%) scale(0);
  transform-origin: bottom center;
  z-index: -1;
}
.enjoy .container button:hover::before {
  transform: translate(-50%, 10%) scale(1);
  width: 200px;
}

.activity .container {
  display: flex;
  justify-content: space-between;
  margin-top: 58px;
  margin-bottom: 120px;
}
.activity .container .info .circle {
  width: 190px;
  height: 190px;
  padding: 7px 0 0 0;
  gap: 10px;
  border-radius: 111px 0 0 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.activity .container .info .circle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  border: 1px solid #000;
}
.activity .container .info p {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  margin-top: 8px;
  text-align: center;
}
.activity .container .info object {
  display: flex;
  align-items: center;
  justify-content: center;
}
.activity .container .info:hover p {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
}

.events {
  position: relative;
}
.events .next-button-1 {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: scaleX(-1);
}
.events .next-button-1 button {
  width: 44px;
  height: 44px;
  padding: 5px 0px 0px 0px;
  gap: 10px;
  border-radius: 100px;
  border: 9px;
  background: transparent;
  border: 1px solid black;
}
.events .prev-button-1 {
  position: absolute;
  right: 20px;
  top: 50%;
}
.events .prev-button-1 button {
  width: 44px;
  height: 44px;
  padding: 5px 0px 0px 0px;
  border-radius: 100px;
  border: 9px;
  border: 1px solid black;
  background: transparent;
}
.events .container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.events .container .title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.events .container .title h3 {
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  color: rgb(17, 17, 17);
}
.events .container .title h4 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
.events .container .swiper-wrapper {
  display: flex;
  align-items: center;
  max-width: 1260px;
  margin: 0 auto;
}
.events .container .swiper-wrapper .swiper-slide {
  width: 25%;
  max-width: 620px;
  margin-bottom: 20px;
}
.events .container .swiper-wrapper .swiper-slide .img {
  width: 295px;
  height: 219.77px;
  position: relative;
}
.events .container .swiper-wrapper .swiper-slide .img img {
  border-radius: 8px 8px 0px 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.events .container .swiper-wrapper .swiper-slide .img object {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 239px;
  padding: 10px 0px 0px 0px;
}
.events .container .swiper-wrapper .swiper-slide .content {
  width: 295px;
  height: 140px;
  padding: 0px 8px 8px 12px;
  gap: 4px;
}
.events .container .swiper-wrapper .swiper-slide .content h4 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}
.events .container .swiper-wrapper .swiper-slide .content .properties {
  display: flex;
  gap: 5px;
}
.events .container .swiper-wrapper .swiper-slide .content .properties object {
  display: block;
  padding: 3px 0px 0px 0px;
}
.events .container .swiper-wrapper .swiper-slide .content .properties p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(105, 105, 105);
}
.events .container .swiper-wrapper .swiper-slide:hover {
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.events .container .swiper-wrapper .swiper-slide:hover h4 {
  text-decoration: underline;
}

.upcoming {
  margin-top: 49px;
  padding-bottom: 163px;
  position: relative;
}
.upcoming .next-button-2 {
  position: absolute;
  top: 36%;
  left: 20px;
  transform: scaleX(-1);
}
.upcoming .next-button-2 button {
  width: 44px;
  height: 44px;
  padding: 5px 0px 0px 0px;
  gap: 10px;
  border-radius: 100px;
  border: 9px;
  border: 1px solid black;
  background: transparent;
}
.upcoming .prev-button-2 {
  position: absolute;
  right: 20px;
  top: 36%;
}
.upcoming .prev-button-2 button {
  width: 44px;
  height: 44px;
  padding: 5px 0px 0px 0px;
  gap: 10px;
  border-radius: 100px;
  border: 9px;
  border: 1px solid black;
  background: transparent;
}
.upcoming .container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.upcoming .container .title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.upcoming .container .title h3 {
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  color: rgb(17, 17, 17);
}
.upcoming .container .title h4 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
.upcoming .container .swiper-wrapper {
  display: flex;
  align-items: center;
  max-width: 1260px;
  margin: 0 auto;
}
.upcoming .container .swiper-wrapper .swiper-slide {
  width: 25%;
  max-width: 620px;
  margin-bottom: 20px;
}
.upcoming .container .swiper-wrapper .swiper-slide .img {
  width: 295px;
  height: 219.77px;
  position: relative;
}
.upcoming .container .swiper-wrapper .swiper-slide .img img {
  border-radius: 8px 8px 0px 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.upcoming .container .swiper-wrapper .swiper-slide .img object {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 239px;
  padding: 10px 0px 0px 0px;
}
.upcoming .container .swiper-wrapper .swiper-slide .content {
  width: 295px;
  height: 140px;
  padding: 0px 8px 8px 12px;
  gap: 4px;
}
.upcoming .container .swiper-wrapper .swiper-slide .content h4 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}
.upcoming .container .swiper-wrapper .swiper-slide .content .properties {
  display: flex;
  gap: 5px;
}
.upcoming .container .swiper-wrapper .swiper-slide .content .properties object {
  display: block;
  padding: 3px 0px 0px 0px;
}
.upcoming .container .swiper-wrapper .swiper-slide .content .properties p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(105, 105, 105);
}
.upcoming .container .swiper-wrapper .swiper-slide:hover {
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.upcoming .container .swiper-wrapper .swiper-slide:hover h4 {
  text-decoration: underline;
}

.destinations .container h2 {
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
}
.destinations .container .country {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin-top: 28px;
}
.destinations .container .country .circle {
  overflow: hidden;
}
.destinations .container .country .circle img {
  border-radius: 50%;
  height: 295px;
  width: 295px;
}
.destinations .container .country .circle p {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  margin-top: 12px;
}

.join {
  margin-top: 193px;
}
.join .container {
  display: flex;
  align-items: center;
  max-width: 1220px;
  border-radius: 20px;
  padding: 60px;
  gap: 191px;
  background: rgb(253, 209, 213);
}
.join .container .content {
  width: 606px;
  height: 190px;
}
.join .container .content h4 {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
}
.join .container .content p {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.38px;
  color: rgb(17, 17, 17);
}
.join .container .content button {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  background: rgb(248, 71, 87);
  color: rgb(255, 255, 255);
  margin-top: 40px;
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 1px 4px 0px rgba(25, 33, 61, 0.08);
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  transition: color 1.2s, background 1.2s;
}
.join .container .content button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0px;
  height: 100px;
  background: rgb(187, 7, 22);
  transition: transform 1.2s ease, width 1.2s ease, height 1.2s ease;
  border-radius: 50% 50% 0 0;
  transform: translate(-50%, 100%) scale(0);
  transform-origin: bottom center;
  z-index: -1;
}
.join .container .content button:hover::before {
  transform: translate(-50%, 10%) scale(1);
  width: 200px;
}/*# sourceMappingURL=style.css.map */